<!-- we set the width of the points bar according to the points -->
<!-- we call this SkidRowD3 -->
<div class="story-whole">
  <div class="story-whole-left">
    <div class="points-bar" style="width:{{125 * story.points/400 + 2}}px;"></div>
  </div>
  <div class="story-whole-right">
      <a class="story-title" href="{{story.url ? story.url : 'https://news.ycombinator.com/item?id=' + story.objectID}}">
        {{story.title}}
      </a>
      <span class="source-url">{{story.url.split('/')[2]}}</span>
      <div class="bottom-row">
        <span ng-if="loggedIn">
          <img height="15px" style="vertical-align:text-bottom" ng-hide="isBookmark(story)" src="/bookmark.png" ng-click="addBookmark(story)">
          <img height="15px" style="vertical-align:text-bottom" ng-show="isBookmark(story)" src="/bookmarked.png" ng-click="removeBookmark(story)">
        </span>
        <span>{{story.points}} points</span> |
        <button ng-show="currentlyFollowing.indexOf(story.author) === -1" ng-click="addUser(story.author)">Follow</button>
        <a href="https://news.ycombinator.com/user?id={{story.author}}">{{ story.author}}</a> |
        <span>{{story.created_at | fromNow}}</span> |
        <a href="https://news.ycombinator.com/item?id={{story.objectID}}">
          {{story.num_comments ? story.num_comments + ' comments' : 'discuss'}}
        </a>
    </div>
  </div>
</div>