
<div ng-controller="TopStoriesWithKeywordController">
    <form class="filterBar" ng-submit="getData()">
        <div class="filterBarTitle">Filter</div>
        <input name="keyword" ng-model="keyword" placeholder="Enter Keyword">
        <input type="submit" value="Submit">
    </form>
  <div class="userDisplay story" ng-repeat="story in stories | limitTo: index">
    <div ng-include="'app/partials/story.html'" class="story-holder"></div>
  </div>

  <div class="more-button" ng-show="index < stories.length && stories.length > 0" ng-click="index = index + perPage;">more</div>
</div>
