/*CSS RESET*/

/* http://meyerweb.com/eric/tools/css/reset/*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end*/

/*micro clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/*end*/

select, input, textarea, button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input, button{
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;

}

img, button, h1,h2{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  /*background: #F8F8F8;*/
  height: 100%;
  width: 100%;
  vertical-align:top;
  min-width: 640px;
  min-height: 640px;
  overflow: hidden;
}

html {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

a{
  color: black;
  text-decoration: none;
}

.story-title:visited {
  color: #C8C8C8;
}

/*LEFT SIDE*/

html .left-container {
  width: 29%;
  min-width: 201px;
  max-width: 480px;
  height: 100%;
  display:inline-block;
  vertical-align:top;
  left: 0;
  top: 0;
  color: white;
}

.spacer{
  display: inline-block;
  width: 10px;
  height: 100%;
  background-color: black;
}

.tabs{
  height: 30%;
  background-color: white;
}

.tabs-content{

}

button.tab {
   -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  width: 100%;
  height: 33.33333333333%;
  display:block;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: -.1px;
  font-weight: bold;
  color: #303030;
  background-color: white;
  border: 0px solid white;
  position: relative;
}

html button.activeTab{
  background-color: transparent;
  text-align: right;
  border-right: 10px solid #FFA500
}

button.activeTab:after{

}


button.inactiveTab {
  text-align: right;
  background: #E8E8E8;
  opacity: 0.4;

}
.faded:hover{
  opacity: 1;
}

.tabs-header-text{
  color: black;
}

.leftSectionHolder{
  width: 100%;
  margin: 0;
  color: white;
  display: block;
  position: relative;
  padding: 1px;
  overflow: hidden;
}

html .leftSectionHeaderHolder{
  display: inline-block;
  width: auto;
  height: auto;
}

.leftSectionHeaderText{
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  letter-spacing: -.1em;
  -webkit-transform: rotate(-90deg)translate(-100%,0);
  -moz-transform:    rotate(-90deg)translate(-100%,0);
  -ms-transform:     rotate(-90deg)translate(-100%,0);
  -o-transform:      rotate(-90deg)translate(-100%,0);
  transform:         rotate(-90deg)translate(-100%,0);

  -webkit-transform-origin: left top;
  -moz-transform-origin:    left top;
  -ms-transform-origin:     left top;
  -o-transform-origin:      left top;
  transform-origin:         left top;
}

.leftSectionHolderContent{
  display: inline-block;
  text-align: right;
  width: 90%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}


.currently-following{
  background-color: #404040;
  height: 40%;
}

.following-header{

}

.following-header-text{
   color: #FFA500;
}

.currently-following-right{

}

.following-right-top{
  display: inline-block;
  width: auto;
  height: auto;
}

html .following-right-top input {
  font-family: helvetica, arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 0;
  border: 0px solid white;
  font-size: 1.15em;
  margin: 1px;
  padding: 0px 0px 0px .1em;
  background-color: #FFA500;
  color: #404040;
}

html .following-right-top button {
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 0;
  border: 0px solid white;
  font-size: 1.15em;
  font-weight: bold;
  margin: 1px;
  padding: .2px .5em .2px .5em;
  background-color: #FFA500;
  color: #404040;
}

html .following-right-bottom{
  display: block;
  text-align: right;
  width:100%;
  height: 100%;
  padding-bottom: 1.3em;
  overflow-y: scroll;
}

.following-right-bottom button {
  border-radius: 0;
  margin: 1px;
  background-color: #FFA500;
  color: #404040;
  border: 0px solid white;
  cursor: pointer;
  float: right;
  font-size: 1em;
}

.colorOne{
  color: #404040;
}

.colorTwo{
  color: #FFA500;
}

html .followed-user{
  /*border: 2px solid white;*/


}
.followed-user:hover {
  background: lightgrey;
}
.followed-user:after{
  content: 'x';
}

.auth-header-text {
  color: #404040;
}

.auth-container {
  border-top: 2px solid #404040;
  border-right: 2px solid #FFA500;
  background-color: #FFA500;
  height: 30%;
}

.auth-content{
  text-align: right;
  width: 80%;
  padding: 2px;
}

.auth-content button{
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  border: 0px solid white;
  font-size: 1.15em;
  display: inline-block;
  margin: 1px;
  padding: .24em .8em .24em .8em;
  background-color: #404040;
  color: #FFA500;
  width: 100%;
}

.auth-content input{
  font-family: helvetica, arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border-radius: 0;
  border: 0px solid white;
  font-size: 1.15em;
  margin: 2px;
  padding: 0px 0px 0px .1em;
  background-color: #404040;
  background-color: white;
  color: #FFA500;
  color: gray;
  width: 100%;

}

.loggedInDiv{
   display: inline-block;
  width: 100%;
  height: 100%;
}

.loggedOutDiv{
   display: inline-block;
   margin-top: 1em;
  height: 100%;
  margin-right: 5%;
  width: 95%;
}


/*.hero-header {
  font-size: 50px;
  top: 270px;
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  left: 95%;
  margin: 0;
}*/

.feed {
  display: inline-block;
  width: 69%;
  height: 100%;
}

.inside-feed{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.inside-feed button{
  border: 0px solid white;

}

.story-whole{
  display: inline-block;
  width: 100%;
}

.story-whole-left{
  display: inline-block;
  width: 132px;
  height: 100%;
  text-align: right;
}

.story-whole-right{
  display: inline-block;
  width: 75%;

  /*min-width: 768px;*/
}

.story{
  margin-bottom: .6em;
  position: relative;
}

.comment {
  margin: 2px;
  padding: 1.5em;
  background-color: #E8E8E8;

}

.story-title {
  font-size: 1em;
  font-weight: 600;
  font-family: 'open sans', helvetica, arial, sans-serif;
}

.bottom-row {
  /*color: grey;*/
  opacity: 0.4;
  font-size: .9em;
}

.top-row {
  margin-bottom: 20px;
  opacity: 0.35;
  font-size: .95em;
}

.points-bar {
  display: inline-block;
  background: #D8D8D8;
  /*background: black;*/
  height: 1em;
  box-sizing: border-box;
  max-width: 132px;
  margin-right: .2em;
}

/*.active {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #585858;

  right: -5px;
  position: absolute;
  top: 38px;
}*/

.source-url {
  opacity: 0.4;
  font-size: .9em;
}

.more-button {
  display: block;
  width: 80%;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  /*background: #e8e8e8;*/
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: -3px;
  opacity: 0.55;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
.more-button:hover {
  opacity: 1;
  text-decoration: none;
}

.new-follow {

}

#signin {

}

.auth-info {
}

.logged-header {
  color: #404040;
}



.story-page{
  position: relative;
}

.story-holder{
  position: relative;
}

.story-holder a:hover {
  text-decoration: underline;
}

.refresh {
  position: absolute;
  display: inline-block;
  z-index: 999;
  left: 0;

  width: 40px;
  height: 40px;
  background: url(http://findicons.com/files/icons/2579/iphone_icons/40/reload.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.15;

  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}

.refresh:hover {
  opacity: 0.7;
}

.clickDown{
  -webkit-transform: scale(.94,.94);
  -moz-transform:     scale(.94,.94);
  -ms-transform:      scale(.94,.94);
  -o-transform:       scale(.94,.94);
  transform:          scale(.94,.94);
}

@media screen and (max-width: 1700px) {
  /*space for another column on the right here*/
}


@media screen and (max-width: 1520px) {
  .points-bar{

  }
}

@media screen and (max-width: 900px) {
  .points-bar{
    display: none;
  }
  .story-whole-left{
    display: none;
  }
  .story-whole-right{
    width: 100%;
    margin: 2px;
  }
}

@media screen and (max-width: 768px) {
  .story-whole-right{

  }

  html .leftSectionHeaderHolder{
    display: block;
    text-align: right;
  }

  .leftSectionHeaderText{
    font-weight: bold;
    text-align: right;
    font-size: 2em;
    letter-spacing: -.1em;
    margin-right: 2px;
    -webkit-transform: rotate(0)translate(0,0);
    -moz-transform:    rotate(0)translate(0,0);
    -ms-transform:     rotate(0)translate(0,0);
    -o-transform:      rotate(0)translate(0,0);
    transform:         rotate(0)translate(0,0);

    -webkit-transform-origin: left top;
    -moz-transform-origin:    left top;
    -ms-transform-origin:     left top;
    -o-transform-origin:      left top;
    transform-origin:         left top;
  }

  .leftSectionHolderContent{
    display: block;
    position: relative;
    width: 100%;
  }

  html .tabs .leftSectionHeaderHolder{
    height: 10%;
  }

  button.tab{
    height: 30%;
  }

}

@media screen and (max-width: 700px) {
  html .left-container{
    width: 100%;
    display: inline-block;
    height: 30%;
    max-width: 100%;
  }
  html .feed{
    width: 100%;
    display: inline-block;
    height: 70%;
  }

  .leftSectionHolder{
    display: inline-block;
    vertical-align: top;
    border: 0px solid white;
    height: 100%;
    width: 33.3333333%;
  }

}




